body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
/* .nav {
  background-color: wheat;
  justify-content: space-between;
} */
.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

.nav-item {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #cacaca;
  display: block;
}

.nav-item:hover {
  color: #f1f1f1;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .nav-item {
    font-size: 18px;
  }
}
.mainAbout {
  background-color: rgb(187, 187, 211);
  font-weight: 600;
  /* margin-top: -10rem; */
  margin-left: 160px; /* Same as the width of the sidenav */
  font-size: 25px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}
.aboutMe {
  margin-left: 10px;

}
.aboutMeH4{
  font-size: 2rem;
  font-weight: 600;
  margin-top: 3rem;
}
.myName {
  color: white;
}
.myImage {
  height: 20rem;
  width: 20rem;
  border-radius: 6px;
  margin-left: 10px;
  float: left;
  clear: left;
  margin-right: 15px;
}
.skillsDiv {
  display: flex;
  margin-left: 10px;
}
.skills {
  margin-right: 0.75rem;
  margin-bottom: 0.75rem;
  padding: 0.5rem 1rem;
  border-radius: 15px;
  background-color: rgb(47, 47, 128);
  color: white;
  list-style-type: none;

  font-weight: bold;
}
.profiles {
  display: flex;
}
.refer{
  font-size: 1.5rem;
}
.footer {
  width: 100%;
  color: black;
  font-weight: 700;
  text-align: center;
}
